.add-column-form {
  padding: 1.25rem; 
  position: absolute;
  width: 30rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  border: 0.0625rem solid var(--theme-color);
  font-family: 'Montserrat', sans-serif;
  z-index: 20;
  border-radius: 0.5rem;
  transition: all 2s ease-in-out;
}

.add-column-upper {
  margin-bottom: 1.25rem;
}

.add-column-input {
  width: 93%;
  padding: 0.875rem;
  font-size: 1rem; 
  
}

.add-column-input:focus {
  outline: none;
}

.add-column-lower {
  display: flex;
  justify-content: flex-end;
  gap: 0.9375rem;
}

.add-col-btn ,.add-col-cancel{
  padding: 0.625rem 1.125rem; 
  border: none;
  font-size: 0.875rem; 
  font-weight: 500;
  cursor: pointer;
  background-color: var(--theme-color);
  transition: background-color 0.2s ease, transform 0.1s ease;
  color: white;
  /* font-weight: 800; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

